{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block content %}
<!--  -->

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 mx-auto">
      <h2
        class="text-gray-900 text-lg text-center font-medium title-font mb-5 mx-auto"
      >
        Login
      </h2>
      <form action="" method="POST" novalidate autocomplete="off">
        {% csrf_token %}
        <!--  -->
        {% include 'partials/_message.html' %}
        <div class="relative mb-4">
          <label for="username" class="leading-7 text-sm text-gray-600"
            >Username</label
          >
          <input
            type="text"
            id="username"
            name="username"
            class="w-full bg-white rounded border border-gray-300 focus:border-blue-600 text-base outline-none text-gray-700 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
        </div>

        <div class="relative mb-4">
          <label for="password" class="leading-7 text-sm text-gray-600"
            >Password</label
          >
          <input
            type="password"
            id="password"
            name="password"
            class="w-full bg-white rounded border border-gray-300 focus:border-blue-600 text-base outline-none text-gray-700 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
        </div>
        <button
          class="w-full text-white bg-blue-500 border-0 py-1 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg"
        >
          Login
        </button>
        <p class="text-xs text-gray-500 mt-3">
          Don't have an account?
          <a class="text-blue-500" href="{% url 'sign_up' %}" class=""
            >Register</a
          >
        </p>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
