{% extends "base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block content %}

<div class="container">
  <!-- <div class="col-sm-12 col-md-12 col-lg-7 mx-auto"> -->
    {% for job in jobs %}
    <div class="row shadow-sm mt-1 bg-white rounded text-muted fs-6 w-75 mx-auto">
      <div class="col-sm-12 col-md-12 col-lg-1 mx-auto">
        <img
          src="{% static 'img/logo.jpg' %}"
          class="rounded-circle img-circle"
          alt="..."
        />
        <div class="text-center d-flex align-items-center">
          <span class="fw-bold">{{ job.user.username }}</span>
          {% if job.user.is_verified %}
          <img
            src="{% static 'img/verified-icon.jpg' %}"
            class="verified mr-3"
            alt="..."
          />
          {% endif %}
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <p class="mt-4 mx-5">{{ job.title}}</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-2 my-auto">
        <p class="mt-4 mx-5">{{ job.location}}</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 my-auto">
        N{{ job.salary_from }} - N{{ job.salary_to }}
      </div>
      <div class="col-sm-12 col-md-12 col-lg-2 my-auto text-white">
        <a
          class="text-decoration-none text-reset btn btn-block btn-sm btn-primary"
          type="button"
          href="{% url 'job_details' job.id %}"
          >Details</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
