{% extends "base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block content %}

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-full mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0 mx-auto">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">
          {{ job.user.username | upper }}
        </h2>
        <h1 class="text-gray-600 text-xl title-font font-medium mb-4">
          {{ job.title }}
        </h1>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Status</span>
          {% if job.is_closed %}
          <span class="ml-auto text-red-400">Application Closed</span>
          {% else %}
          <span class="ml-auto text-green-400">Application Open</span>
          {% endif %}
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Date Listed</span>
          <span class="ml-auto text-gray-900"
            >{{ job.posted_at | timesince }}</span
          >
        </div>
        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
          <span class="text-gray-500">Location</span>
          <span class="ml-auto text-gray-900">{{ job.location }}</span>
        </div>
        <div class="flex mb-4">
          <a
            class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1"
            >Description</a
          >
        </div>
        <p class="leading-relaxed mb-4">{{ job.description }}</p>
        <div class="flex mb-4">
          <a
            class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1"
            >Skills</a
          >
        </div>
        {% for skill in job.skills_as_list %}
        <span
          class="ext-md text-center text-gray-500 bg-gray-100 px-2 py-1 rounded-full mb-5"
          >{{ skill }}</span
        >
        {% endfor %}
        <div class="flex mb-4">
          <a
            class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1"
          ></a>
        </div>
        <div class="flex items-center">
          {% if job.salary %}
          <span
            class="text-md text-center text-gray-500 bg-gray-100 px-2 py-1 rounded-full"
          >
            N {{ job.salary }}
          </span>
          {% endif %}
          <!--  -->
          {% if request.user.status == 'Applicant' and not job.is_closed %}
          <a
            href="{% url 'job_application' job.id %}"
            class="flex ml-auto text-white bg-indigo-500 border-0 py-1 px-6 focus:outline-none hover:bg-indigo-600 rounded"
          >
            APPLY TO THIS JOB
          </a>
          {% else %}
          <!--  -->
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
