{% extends "base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block content %}

<div class="container bg-white w-75 my-5">
  <br />
  <div class="rounded-circle bg-width">
    <img
      src="{% static 'img/logo.jpg' %}"
      class="rounded-circle img-circle-detail"
      alt="..."
    />
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <h4 class="text-center text-muted">{{ job.user.username.title }}</h4>
    {% if job.user.is_verified %}
    <img
      src="{% static 'img/verified-icon.jpg' %}"
      class="verified mr-3"
      alt="..."
    />
    {% endif %}
  </div>

  <div
    class="row border border-default m-2 bg-white rounded text-muted fs-6 w-75 mx-auto p-3"
  >
    <div class="col-sm-12 col-md-6 col-lg-6 border-end">
      <h6>{{ job.title }}</h6>
      <span>Location: {{ job.location}}</span>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <span class="text-muted">Since: 3 days ago</span>
    </div>
  </div>

  <div class="mx-5 mt-3">
    <h5>Description:</h5>
    <p class="fs text-muted fw-light">{{ job.description }}</p>
  </div>
  <div class="mx-5">
    <h5>Skills:</h5>
    {% for skill in job.skills_as_list %}
    <span class="badge rounded-pill bg-secondary mb-3">{{ skill }}</span>
    {% endfor %}
  </div>

  <div class="mx-5">
    <a
      type="button"
      class="btn btn-primary btn-sm mb-5"
      href="{% url 'job_application' job.id %}"
      >Apply for this job</a
    >
  </div>
</div>

{% endblock content %}
